
# =====================================
# PYTHON
# =====================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =====================================
# VENV
# =====================================

venv/
.env

# =====================================
# OLLAMA / MODELS
# =====================================

models/
*.gguf
*.bin
*.safetensors

# =====================================
# CACHE
# =====================================

.cache/
.cache
tmp/
temp/

# =====================================
# LOGS
# =====================================

logs/
*.log

# =====================================
# OUTPUTS
# =====================================

outputs/
exports/
generated/

# =====================================
# IDE
# =====================================

.vscode/
.idea/

# =====================================
# SYSTEM
# =====================================

.DS_Store
Thumbs.db

# =====================================
# GIT
# =====================================

*.swp

